/* Start Header Section */
login-bt ul{
    list-style: none;
}
.login-bt ul i{
    color:brown;
    font-weight: bold;
}


.login-bt ul i:hover{
    color:black;
}
/* End Header Style */

/* Start Banner style */
.banner{
    background-image: url(../image/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
   
    
}
.pink-btn{
    background-color: rgb(151, 61, 151);
   padding-right: 1.97rem;
   padding-top:0.89rem;
   padding-bottom:0.89rem;
   padding-left: 1.97rem;
   border-radius: 30px;
   
}
.pink-btn:hover{
    background-color: black;
    color:white;
}
.black-btn{
    background-color:black;
    color:white;
   padding-right: 1.97rem;
   padding-top:0.89rem;
   padding-bottom:0.89rem;
   padding-left: 1.97rem;
   border-radius: 30px;
   
}
/* End Banner style */




/* Start Coffee Style */
.coffee{
    text-align: center;
    font-weight: bold;
    font-size:40px;
}
.card .main-btn{
    border:2px solid rgba(238, 104, 104,0.7);
    padding:0.54rem;
    padding-left:1.23rem;
    padding-right: 1.23rem;
    border-radius: 10px;
    color:rgba(238, 104, 104,0.7);
    text-decoration: none;
}
/* End Coffee Style */

/* Start About Style */
 .about .about-image img{
    width:900px; 
}
.about-text{
    width:500px;
    background-color: white;
    margin-left:45rem;
    margin-top:4rem;
    border: 1px solid rgb(94, 92, 92);
    box-shadow: 10px;
    
}
.reviews{
    background-image: url(../image/client-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Start Blog Section */
.image-container{
    position:relative;
    display: inline-block;
}
.badge-overlay{
    position:absolute;
    right:430px;
    padding:1.34rem;
    top:5px;
    border:2px solid red;
    background-color: red;
    border-radius: 0;
    font-size:15px;
}
.btn-read{
    padding: 0.89rem;
    padding-left:1.34rem;
    padding-right:1.34rem; 
    border:2px solid rgba(238, 104, 104,0.7);
    color:rgba(238, 104, 104,0.7);
    font-weight: bold;

}




/* Start Contact Style */
.form-contact{
    width:700px;
}
.form-contact .forminput{
    background-color: rgb(238, 237, 237);
    padding:15px;
    border-radius: 30px;
}
.form-contact .sign-in{
    background-color: rgb(218, 137, 164);
}


/* start Footer  style */
footer{
    background-image: url(../image/footer-bg.png);
    color:white;
}
footer .footer-address{
    font-weight: bold;
    font-size: 35px;
    margin-top:40px;
}
footer .footer-description {
    font-weight: bold;
    font-size:20px
}
footer .footer-number {
    font-weight: bold;
}
footer .footer-email {
    font-weight: bold;
}
footer .form-control{
    border-radius: 0;
    display: inline;
}
footer .plane{
    border:2px solid black;
    padding:12px;
    background-color: rgb(179, 121, 140);
}
.copyright{
    background-image: url(../image/header-bg.png);
   background-size: cover;
   padding:20px;
}
.copyright  .owner{
    color:white;
    font-size:25px;  
}
.copyright  .suma{
    color:white;
    text-decoration: none;
}
.copyright  .suma:hover{
    color:black;
}
.copyright .link{
    border:2x solid white;
    background-color: white;
    padding:20px;
    border-radius: 30px;
    margin-top:90px;
    color:maroon;
}
.copyright .link:hover{
    color:black;
}
/* End Footer Style */